name: Deploy Docker App to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # Allow git safe directory
            git config --global --add safe.directory /var/www/html/ci-cd-ec2-project2

            # Go to project folder
            cd /var/www/html/ci-cd-ec2-project2

            # Pull latest code
            git pull origin main

            # Stop old container (if running)
            docker stop naughty_khorana || true

            # Remove old container
            docker rm naughty_khorana || true

            # Remove old image (optional but clean)
            docker rmi myapp || true

            # Build new Docker image
            docker build -t myapp .

            # Run new container
            docker run -d -p 80:80 --name naughty_khorana myapp
